#!/bin/bash
  
# turn off python/conda env - saves 9 whole key strokes
alias off="deactivate"

# numDir alias - just runs a python script.
#numbering options:
#   -a : By alpha
#   -r : By reverse alpha
#   -u : undo numbering
alias numDir="python3 $HOME/bin/scripts/numDir.py"


